<div data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientLib.all @ categories='BtoChennai.clientlib'}"></div>
<body>

<div class="top-bar">
  <h1>Bangalore → Chennai</h1>
  <p>1 Traveller • Economy</p>
</div>

<div class="flight-background">
  <div class="flight-list">
    <div class="flight-card">
      <div class="flight-info">
        <div>
          <div class="airline">✈️ Air India Express • IX 1020</div>
          <div class="details">05:50AM → 07:30AM • 1h 40m • Non-stop</div>
        </div>
        <div class="price-action">
          <div class="price">₹5000</div>
          <button class="book-btn" onclick="goToSeatSelection4()">Book Now</button>
        </div>
      </div>
    </div>

    <div class="flight-card">
      <div class="flight-info">
        <div>
          <div class="airline">🛋 IndiGo • 6E 517</div>
          <div class="details">05:25PM → 07:05PM • 1h 40m • Non-stop</div>
        </div>
        <div class="price-action">
          <div class="price">₹5,209</div>
          <button class="book-btn" onclick="goToSeatSelection4()">Book Now</button>
        </div>
      </div>
    </div>

    <div class="flight-card">
      <div class="flight-info">
        <div>
          <div class="airline">🛋 IndiGo • 6E 6246</div>
          <div class="details">12:35PM → 14:15PM • 1h 40m • Non-stop</div>
        </div>
        <div class="price-action">
          <div class="price">₹6,398</div>
          <button class="book-btn" onclick="goToSeatSelection4()">Book Now</button>
        </div>
      </div>
    </div>
    <div class="flight-card">
      <div class="flight-info">
        <div>
          <div class="airline">✈️ SpiceJet • SK 720</div>
          <div class="details">17:00PM → 18:45PM • 1h 45m • Non-stop</div>
        </div>
        <div class="price-action">
          <div class="price">₹5,299</div>
          <button class="book-btn" onclick="goToSeatSelection4()">Book Now</button>
        </div>
      </div>
    </div>
    <div class="flight-card">
      <div class="flight-info">
        <div>
          <div class="airline">🛋 IndiGo • 5A 517</div>
          <div class="details">06:35PM → 07:35PM • 1h 00m • Non-stop</div>
        </div>
        <div class="price-action">
          <div class="price">₹6,209</div>
          <button class="book-btn" onclick="goToSeatSelection4()">Book Now</button>
        </div>
      </div>
    </div>

    <div class="flight-card">
      <div class="flight-info">
        <div>
          <div class="airline">✈️ SpiceJet • SG 452</div>
          <div class="details">15:00PM → 16:45PM • 1h 45m • Non-stop</div>
        </div>
        <div class="price-action">
          <div class="price">₹6,299</div>
          <button class="book-btn" onclick="goToSeatSelection4()">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="back-btn" onclick="goBackToSearch()">← Back to Search</button>



</body>

